<div class="topheader">
    <div class="container">
        <a class="button" style="background: transparent" href="https://www.sogmi.org" target="_blank">Go to main site</a>
    </div>
</div>
<header class="section">
    <div class="container">
        <!-- <img src="/sogmi_logo.png" width="200" alt=""> -->
        <div class="columns is-vcentered">
            <div class="column">
                <div>
                    <div class="title">Media Downloads</div>
                    <div class="subtitle">The Prophetic Gathering of the Saints 2018</div>
                    <!-- <a href="#main-audio" class="scrollIcon"><i class="fas fa-chevron-circle-down"></i>&nbsp;Scroll Down</a> -->
                </div>   
            </div>
        </div>
    </div>
    <div class="imageOverlay"></div>
</header>